[class*="col-"] {
  padding: 1rem; }

#header {
  text-shadow: 0px 0px 1px #333; }
  #header h2 {
    font-size: 1.2rem; }
  @media (min-width: 370px) {
    #header h2 {
      font-size: 1.5rem; } }
  @media (min-width: 576px) {
    #header h2 {
      font-size: 1.7rem; } }
  @media (min-width: 992px) {
    #header h2 {
      font-size: 2rem; } }
  @media (min-width: 1200px) {
    #header h2 {
      font-size: 2.5rem; } }

#bookCarousel div p + button, #bookCarousel2 div p + button {
  width: 100%; }
#bookCarousel a:hover, #bookCarousel2 a:hover {
  text-shadow: 0px 0px 10px #B8F199; }
#bookCarousel i, #bookCarousel2 i {
  font-size: 30px;
  color: #47AF22; }
#bookCarousel p, #bookCarousel2 p {
  font-size: 9px;
  margin-bottom: 4px; }
#bookCarousel button, #bookCarousel2 button {
  font-size: 9px;
  padding-right: 1px !important;
  padding-left: 1px !important;
  font-weight: 500;
  color: #222;
  background-color: #47AF22;
  color: #222;
  background-color: #fff;
  border-color: #47AF22;
  box-shadow: 1px 2px 8px #85B374; }
  #bookCarousel button:hover, #bookCarousel2 button:hover {
    color: #fff;
    background-color: #47AF22;
    box-shadow: 3px 4px 10px #85B374; }
@media (min-width: 370px) {
  #bookCarousel p, #bookCarousel button, #bookCarousel2 p, #bookCarousel2 button {
    font-size: 11px; } }
@media (min-width: 576px) {
  #bookCarousel p, #bookCarousel button, #bookCarousel2 p, #bookCarousel2 button {
    font-size: 13px; } }
@media (min-width: 768px) {
  #bookCarousel p, #bookCarousel button, #bookCarousel2 p, #bookCarousel2 button {
    font-size: 11px; } }
@media (min-width: 992px) {
  #bookCarousel i, #bookCarousel2 i {
    font-size: 40px; }
  #bookCarousel p, #bookCarousel button, #bookCarousel2 p, #bookCarousel2 button {
    font-size: 13px; } }
@media (min-width: 1200px) {
  #bookCarousel i, #bookCarousel2 i {
    font-size: 50px; }
  #bookCarousel p, #bookCarousel button, #bookCarousel2 p, #bookCarousel2 button {
    font-size: 16px; } }

article #imageLeft {
  overflow: hidden;
  background-image: url("../../images/imageRight.jpg"); }
  article #imageLeft img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover; }
  article #imageLeft img {
    box-shadow: 0px 0px 10px #B8F199; }
article #textRight {
  position: relative;
  color: #fff;
  background-color: #47AF22;
  color: #fff;
  background-color: #003A29; }
  article #textRight .card-body {
    padding: 0.5rem; }
  article #textRight p {
    overflow: hidden;
    -webkit-line-clamp: 5;
    display: -webkit-box;
    -webkit-box-orient: vertical; }
  article #textRight h1 {
    text-transform: uppercase; }
  article #textRight h1, article #textRight p, article #textRight a.btn {
    font-size: 0.8rem; }
  @media (min-width: 370px) {
    article #textRight h1, article #textRight p, article #textRight a.btn {
      font-size: 1rem; } }
  @media (min-width: 768px) {
    article #textRight .card-body {
      padding: 0.6rem; }
    article #textRight h1, article #textRight p, article #textRight a.btn {
      font-size: 0.8rem; } }
  @media (min-width: 992px) {
    article #textRight .card-body {
      padding: 1.25rem; }
    article #textRight h1, article #textRight p, article #textRight a.btn {
      font-size: 1rem; } }
  @media (min-width: 1200px) {
    article #textRight h1, article #textRight p, article #textRight a.btn {
      font-size: 1.1rem; }
    article #textRight h1 {
      letter-spacing: 1.5px; } }
  article #textRight a.btn {
    color: #fff;
    background-color: #47AF22;
    margin: 5px;
    border: none !important;
    box-shadow: 0px 0px 2px #B8F199;
    float: right; }
    article #textRight a.btn:hover {
      color: #47AF22;
      background-color: #47AF22;
      color: #47AF22;
      background-color: #fff; }

/*# sourceMappingURL=styles.css.map */
